.container-submit-comment{
    border:1px solid black;
    display: flex;
}

.container-submit-comment form input{
    background: transparent;
    height: 100%;
    border: 0px;
}

.container-submit-comment form button{
  background-color: #ffffff;
  color: #ea6153;
  font: 24px bold;
  font-family: Roboto, Serif;
  font-weight: bold;
  border-style: none;
  border-radius: inherit;

  padding: 15px 32px;
}

.container-submit-comment form button:hover{
    background-color: #ffffff;
    color: rebeccapurple;
    font: 24px bold;
    font-family: Roboto, Serif;
    font-weight: bold;
    border-style: none;
    border-radius: inherit;
  }