.comment-selfie-container{
    position: relative;

    display: flex;

    width: 70%;
    height: 70%;
    left: 15%;
}

.comment-selfie-container .selfie-container{
    flex-grow: 2;
    padding-right: 2%;
}

.comment-selfie-container .comment-container{
    flex-grow: 1;

    flex-shrink: 0;
}


.comment-selfie-container .selfie-container img{
    max-width: 100%;
}


/*
.comment-selfie-container div{
    display: inline-block;
}

.comment-selfie-container img{
    width: 80%;
}

.comment-selfie-container .comment-container{
    display: inline-block;

    height: 100%;
    width: 20%;
}

.container-submit-comment{
    margin-top: auto;
}
*/
@media only screen and (max-width: 600px){
    .comment-selfie-container{
    max-width: 100%;
    flex-direction: column;
    padding-bottom: 100px;
    }

    .comment-selfie-container img{
        width: 100%;
    }

    .comment-selfie-container .comment-container{
        width: 100%;
    }
 }