.register-fieldset{
    position: fixed;
    margin: 0 auto;
    width : 50%;
    display: block;
    left : 50%;
    top : 40%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
}

.register-fieldset form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-fieldset form input{
    margin : 1em;

    width: 80%;
    padding: 12px 20px;
}

.register-fieldset h1,p{
    width: 100%;
    text-align: center;
}