.container{
    text-align: center;
    margin-top: 360px;
}

/*
------------------ my button motherfucker -----------------------
*/

.mybtn{
    border-radius: 4px;
    border-color: var(--button-color-text);
    background-color: var(--button-color);/*var(--text-secondary);*/
    color: var(--button-color-text);

    margin : 1em;
    padding: 10px 20px;
    width: 200px;
    font-family: 'montserrat';
    cursor : pointer;

    text-align: center;

}

.mybtn span{
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.mybtn span:after{
    opacity: 0;
    top: 0;

    content: '\00bb';
    position: absolute;

    transition: 0.5s;
}

.mybtn:hover span{
    padding-right: 25px;
}

.mybtn:hover span:after{
    opacity: 1;
    right: 0;
}