.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
** list style
*/

.containerNavbar {
  background-color: royalblue;

  width: 300px;
  list-style: none;
  margin: 0;
  padding: 0;

  display: inline-grid;
}

.containerNavbar li{
  display: inline-block;
  width: 100px;
}

.containerNavbar li a {
  display: block ;
  background: #c00 ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
}

.containerNavbar li a:hover, .containerNavbar li a:focus, .containerNavbar li a:active {
  background: #900 ;
  text-decoration: underline ;
}