.gallerie-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    left : 20%;
}

.gallerie-container div{
    padding :10px 10px 10px 10px;
}

.gen-center-flex{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .gen-center-flex{
        margin-bottom: 100px;
    }
 }