.card-selfie{
  position: relative;
  width: 300px;
  height: 300px;
}

.card-selfie img{
  width: 300px;
  height: 300px;
}

.card-selfie img:hover{
  filter: opacity(1);
}

.card-selfie .btn-container{
  position: absolute;
  top : 0%;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;

  opacity: 0.0;
  transition: 800ms;
}

.card-selfie:hover .btn-container{
  opacity : 1.0;
  transition : 200ms;
}

.card-selfie:hover img{
  filter : hue-rotate(180deg)  blur(0.5px) brightness(80%) contrast(0.9);
  transition: 800ms;
}

.card-selfie .btn-container button{
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 0px 0px;  /* equivalent to 'top left' */
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  height: 16px;           /* make this the size of your image */
  padding-left: 16px;     /* make text start to the right of the image */
  vertical-align: middle; /* align the text vertically centered */

  background-size: contain;

  width : 45px;
  height: 45px;
}

.card-selfie .btn-like-false{
  background-image: url(./ressource/heart1.png); /* 16px x 16px */
}

.card-selfie .btn-like-true{
  background-image: url(./ressource/heart2.png);
}

.card-selfie .btn-comment{
  background-image: url(./ressource/dialogue.png); /* 16px x 16px */
}

.card-selfie .btn-share{
  background-image: url(./ressource/share1.png); /* 16px x 16px */
}

.card-selfie .btn-delete{
  background-image: url(./ressource/delete.png);
}