.div-profile{
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    width: 100%;
    border-bottom: solid;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 1em;
}

.container-profile{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.container-profile h1{
    margin-bottom: 10px;
}