.container-upload-img{
    width: 80%;
    border: solid;
    position: relative;
    left : 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-file{
    border: 10px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;

    cursor: pointer;
    background-color: var(--button-color);/*var(--text-secondary);*/
    color: var(--button-color-text);
    font-weight: bold;
    border: 2px solid #25a5c4;
    padding: 8px 20px;
}

.label-file:hover{
    color: #25a5c4;
}

.input-file{
    display: none;
}