.selfie-button-action{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

.container-sticker{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.container-editor-elem{
    display: flex;
    flex-direction: row;
}

/* large screen */
@media only screen and (max-width: 600px){
    .selfie-button-action{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 10px 10px 10px 10px;
    }

    .container-editor-elem{
        flex-direction: column;
        margin-bottom: 100px;
    }
 }