.container-selfie{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    left : 10%;
}

.selfie-container div{
    padding :10px 10px 10px 10px;
}