
*   {
  margin:0;
  padding:0;
}

:root{
  font-size: 16px;
  font-family : 'Open Sans';
  --text-primary: #e6cccc;
  --text-secondary: #ececec;

  --bg-primary: #1f1f24;
  --bg-primary-nav: #2d2d35;
  --bg-secondary: #fafafa;
  --bg-primary-hover: #4d4d5c;


  --button-color: #00b1ca;
  --button-color-text : #0b0b55;
  --transition-speed: 600ms;
}

html, body {
  margin:0;
  padding:0;
  height: 100%;
  color : black;
  background-color: var(--bg-secondary);
}