main {
    margin-left : 5rem;
}

.navbar{
    z-index : 10;
    position: fixed;
    background-color: var(--bg-primary-nav);
    transition: 200ms ease;
    overflow: scroll;
}

.navbar-nav{
    list-style: none;
    padding : 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item{
    width: 100%;
}

.last-elem {
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    filter: grayscale(50%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover{
    filter: grayscale(0%) opacity(1.0);
    background: var(--bg-primary-hover);
    color: var(--text-secondary);
}

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: var(--button-color);
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary{
    transition: var(--transition-speed);
}

.logo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background : var(--bg-secondary);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg{
    transform: rotate(-180deg);
}

/* small screen */
@media only screen and (max-width: 600px){
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    main{
        margin: 0;
    }
}

/* large screen */
@media only screen and (min-width: 600px){
 .navbar{
    top: 0;
    width: 5rem;
    height: 100vh;
 }

 .navbar:hover{
     width: 16rem;
 }

 .navbar:hover .link-text{
    display: inline;
    transition: opacity var(--transition-speed);
}
}