body,html {
    padding : 0;
    margin : 0;
}

.gallerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

.elemimg{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 70px;
    color: white;
    line-height: 1;
    font-family: 'hobeaux-rococeaux-background', Helvetica;
    font-weight: 200;
    cursor: pointer;
    transition: all .3s ease;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


img{
    object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.annot {
    opacity: 0;
    position: absolute;
    
}

.elemimg:hover .annot{
    opacity: 0.5;
    background-color: teal;
    color: thistle;
}

.elemimg:hover{
    background-color: teal;
}

.button{
    position: absolute;
    opacity: 0.0;
}

.elemimg:hover .button{
    opacity: 1;
}

.share{
    background-image: url('icon/share.jpg');
    width: 50px;
    height: 50px;
    background-size : cover;
}

.comment{
    background-image: url('icon/comment.jpeg');
    width: 50px;
    height: 50px;
    background-size : cover;
}

.like{
    background-image: url('icon/like.jpeg'); 
    background-size: cover; 
    width: 50px; 
    height: 50px; 
}

@media screen and (max-width: 840px) {
    .gallerie {
        grid-template-columns: 1fr;
      }
}

@media screen and (max-width: 1640px) {
    .gallerie {
        grid-template-columns: 1fr 1fr;
      }
}


